/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
*,
*:befor,
*after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
/*input,button,textarea{font-family:inherit;}*/

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-emphasis: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	background-color: #ffb6c1;
	padding: 20px 10px 20px 0;
	margin-bottom: 20px;
}
img {
	max-width: 100px;
	max-height: 100px;
	margin-bottom: 20px;
}
.btn-cart {
	color: #f26376;
	border: 1px solid #ff6a6a;
	text-decoration: none;
	padding: 14px 38px;
	margin-bottom: 30px;
}
.btn-cart:hover {
	background-color: #f26376;
	color: #fff;
	outline: none;
	transition-duration: 0.3s;
}
.products {
	display: grid;
	grid-template: repeat(2, 300px) / repeat(2, 350px);
	justify-content: center;
	grid-gap: 10px;
}
.product-item {
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
h3,
p {
	margin-bottom: 20px;
}
.buy-btn {
	color: #f26376;
	border: 1px solid #ff6a6a;
	text-decoration: none;
	padding: 14px 38px;
}
.buy-btn:hover {
	background-color: #f26376;
	color: #fff;
	outline: none;
	transition-duration: 0.3s;
}
