<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Интернет-магазин</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div id="app">
		<header>
			<div class="basket">
				<form action="#" class="search-form" @submit.prevent="filter">
					<input type="text" class="search-field" v-model="userSearch" placeholder="Введите название товара">
					<button class="btn-search" type="submit">Поиск</button>
				</form>
				<button class="basket-btn" type="button" @click="showBasket = !showBasket">Корзина</button>
				<div class="basket-box" v-show="showBasket">
					<p v-if="!basketItems.length">Корзина пуста</p>
					<div class="basket-item" v-for="item of basketItems">
						<div class="basket-product">
							<img :src="basketImage" alt="#">
							<div class="product-title">{{ item.product_name }}</div>
							<div class="product-quantity">Quantity: {{ item.quantity }}</div>
							<div class="product-single-price">$ {{ item.price }} each</div>
						</div>
					</div>
					<div class="basket-info">
						<div class="product-price">{{ item.quantity * item.price }}</div>
						<button class="cart-del" @click="remove(item)">x</button>
					</div>
				</div>
			</div>
		</header>
		<main class="wrapper container">
			<div class="products">
				<div class="product-item" v-for="product of filtered">
					<img :src="productImage" alt="#">
					<div class="product-info">
						<h3>{{ product.product_name }}</h3>
						<p>{{ product.price }} $</p>
						<button class="btn-cart" @click="addProduct(product)">Купить</button>
					</div>
				</div>
			</div>
		</main>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="script.js"></script>

</body>

</html>